<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Western Food</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100,256</small>

        <h5 class="mt-5">Proident dolore id quis elit mollit proident magna ex eiusmod elit commodo laborum veniam.</h5>
        <p>Ex duis mollit Lorem laboris eu commodo aliqua aliqua aute aute exercitation dolore qui. Ut excepteur excepteur adipisicing mollit quis esse et ut est ex voluptate proident cupidatat ex. Esse dolore ex pariatur sit consectetur velit magna Lorem ex. Minim proident aliqua enim nisi nisi anim proident aliquip mollit do est amet cupidatat. Nostrud tempor elit reprehenderit excepteur elit laborum laboris nostrud aute eu sint irure sint aliquip.</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - JUNE 02, 2023 </small>

    </div>

</div>